<%= form_for(@address) do |f| %>
  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% @address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstName %><br>
    <%= f.text_field :firstName %>
  </div>
  <div class="field">
    <%= f.label :lastName %><br>
    <%= f.text_field :lastName %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
  <% if @address.zip_code %>
  <%= f.label :code, 'Zip Code' %>
  <%= f.text_field :code, :value => @address.zip_code.zip %>
  <% else %>
  <%= f.text_field :code %>
  <% end %>

  </div>
  <div class="field">
  <% if @address.color %>
  <%= collection_select(:address, :f_color, Color.all, :id, :name, prompt:true, :selected => @address.color.id ) %>
  <% else %>
  <%= collection_select(:address, :f_color, Color.all, :id, :name, prompt:true ) %>
  <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
