<h1>Listing addresses</h1>
<div class = "table-responsive">
  <table class = "table table-bordered">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Zip Code</th>
      <th>Favorite Color</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.firstName %></td>
        <td><%= address.lastName %></td>
        <td><%= address.email %></td>
        <td><%= address.zip_code.zip %></td>
        <td bgcolor = <%= address.color.hex %>><%= address.color.name %></td>
        <td><%= link_to 'Show', address, :class => "btn btn-success" %></td>
        <td><%= link_to 'Edit', edit_address_path(address), :class => "btn btn-info" %></td>
        <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Address', new_address_path, :class => "btn btn-primary" %>
