<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @address.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @address.lastName %>
</p>

<p>
  <strong>Email:</strong>
  <%= @address.email %>
</p>

<p>
  <strong>Zip Code:</strong>
  <%= @address.zip_code.zip %>
</p>
<p>
  <strong>Color:</strong>
  <%= @address.color.name %>
</p>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
